@font-face { 
    font-family: 'NanumSquareNeo';
    src: url('/fonts/NanumSquareNeo-Variable.eot');
    src: url('/fonts/NanumSquareNeo-Variable.eot') format('embedded-opentype'),
    url('/fonts/NanumSquareNeo-Variable.woff') format('woff');
}

:root {
    --text-color: #111;
    --bg-color: #eee;
}

body {
    font-family: 'NanumSquareNeo';
    color: var(--text-color);
    background: var(--bg-color);

    margin: 0;
    padding: 0;
    height: 100%;
    max-width: 1600px;
}

/* navbar settings */
#navbar {
    height: 120px;
    margin: auto;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.nav-outlink {
    font-size: 20pt;
}

.nav-name {
    display: none;
    position: fixed;
    font-weight: 700;
}
.nav-page {
    font-size: clamp(16px, 2vw, 20px);
    font-weight: 500;
    color: gray;
}

.navbar-nav .nav-item .nav-link {
    position: relative;
}

.navbar-nav .nav-item a.nav-link:hover::after,
.navbar-nav .nav-item a.nav-link.active::after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background-color: #000;
    position: absolute;
    left: 0;
    bottom: -1px;
    animation: underline 0.2s linear forwards;
}
  
@keyframes underline {
    100% {
      width: 100%;
    }
}

/* page settings */
section {
    padding-top: 120px;
    min-height: 100vh;
    height: 100vh;
    width: 100vw;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* main page */
#main{
    padding: 20vw;
}

h1 {
    font-size: clamp(40px, 5vw, 60px);
    line-height: 1.5;
    font-weight: 600;
    hyphens: auto;
}

h1 span {
    display: block;
}

p {
    position: absolute;
    bottom: 10vw;
    width: 200px;
    font-size: 12px;
    color: silver;
}

/* skills page */
#skills div {
    min-height: 30vh;
    margin: 1vh 160px;
}

h4 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
    font-size: clamp(12px, 3vw, 20px);
}

h3 {
    display: inline;
    font-weight: 200;
    font-size: clamp(10px, 2vw, 16px);
    padding-right: 2%;
}

h5 {
    font-weight: 300;
    line-height: 2;
    font-size: clamp(8px, 1.2vw, 12px);
}

#utils .border{
    display: inline-flex;
    margin-block-end: 20px;
    margin-inline-end: 1%;
    align-items: center;
    white-space: nowrap;
}

#utils span{
    color:#000;
    font-weight: 500;
    font-size: clamp(8px, 1.2vw, 12px)
}

#utils span img{
    height: 16pt;
    max-width: 20px;
    margin-right: 8px;
}

/* works page */
#works div {
    min-height: 30vh;
    margin: 1vh 160px;
}

/* about page */
#about div {
    min-height: 30vh;
    margin: 5vh 10vw;
}
