@font-face { 
    font-family: 'NanumSquareNeo';
    src: url('/fonts/NanumSquareNeo-Variable.eot');
    src: url('/fonts/NanumSquareNeo-Variable.eot') format('embedded-opentype'),
    url('/fonts/NanumSquareNeo-Variable.woff') format('woff');
}

:root {
    --text-color: #111;
    --bg-color: #eee;
}

body {
    font-family: 'NanumSquareNeo';
    color: var(--text-color);
    background: var(--bg-color);
}

/* navbar settings */
#navbar {
    height: 160px;
    max-width: 1600px;
    margin: auto;
    backdrop-filter: blur(10px);
    -webkit-backdrop-filter: blur(10px);
}

.nav-outlink {
    font-size: 20pt;
}

.nav-name {
    display: none;
    position: fixed;
    font-weight: 700;
}
.nav-page {
    font-size: 16pt;
    font-weight: 500;
    color: dimgray;
}

.navbar-nav .nav-item .nav-link {
    position: relative;
}

.navbar-nav .nav-item a.nav-link:hover::after,
.navbar-nav .nav-item a.nav-link.active::after {
    content: "";
    display: block;
    height: 3px;
    width: 0;
    background-color: #000;
    position: absolute;
    left: 0;
    bottom: -1px;
    animation: underline 0.2s linear forwards;
}
  
@keyframes underline {
    100% {
      width: 100%;
    }
}

/* page settings */
section {
    margin-top: 160px;
    min-height: 100vh;
    max-width: 1600px;
    width: 100%;
    position: relative;
    margin: auto;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

/* main page */
#main{
    padding: 200px;
}

h1 {
    font-size: 4rem;
    line-height: 1.5;
    font-weight: 600;
    overflow-wrap: break-word;
    hyphens: auto;
}

h1 span {
    display: block;
}

p {
    position: absolute;
    bottom: 10vw;
    width: 200px;
    font-size: 0.8rem;
    color: darkgray;
}

/* skill page */
#skill div {
    min-height: 30vh;
    margin: 1vh 160px;
}

h4 {
    font-family: 'Courier New', Courier, monospace;
    font-weight: 900;
}

h3 {
    display: inline;
    font-weight: 200;
    font-size: 1.2rem;
    padding-right: 2%;
}

h5 {
    font-weight: 300;
    line-height: 2;
    font-size: 1rem;
}

#utils .border{
    display: inline-flex;
    margin-block-end: 20px;
    margin-inline-end: 10px;
    align-items: center;
    white-space: nowrap;
}

#utils span{
    color:#000;
    font-weight: 500;
}

#utils span img{
    height: 20pt;
    max-width: 24px;
    margin-right: 10px;
}

/* about page */
#about div {
    min-height: 30vh;
    margin: 10px 5vw;
}
